<div class="banner1">
  <div class="w3_agileits_service_banner_info">
    <h2>Data Entry</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<div class="bs-example">
  <form>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea class="form-control" rows="3" placeholder="Address..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</div>
</div>
